.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: auto;
  background-color: #333333d8;
  color: white;
}

.containerLeft,
.containerRight {
  width: 50%;
  max-width: 800px;
}

.containerRight {
  background-color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  padding: 40px;
  background-color: #444;
  border: 5px solid #cccccc;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.inputTitle,
.inputContent {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #ccccccb9;
  border: 5px solid #cccccc;
  border-radius: 4px;
  width: calc(100% - 20px);
  box-sizing: border-box;
}

.inputTitle {
  width: 100%;
  height: 50px;
}

.inputContent {
  width: 100%;
  height: 160px;
  overflow-y: auto;
}

.submitBtn {
  padding: 6px 12px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: calc(100% / 3);
  box-sizing: border-box;
}

.submitBtn:hover {
  background-color: #0056b3;
}

.image {
  width: 100%;
  height: auto;
}

.containerRight {
  display: none;
}

.innerContainer {
  padding: 20px;
  width: 100%;
}
